.headerContainer {
    background-color: #7e5635;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 2rem 1rem;
}

.headerContainer p {
    margin: 0;
    padding-left: 1rem;
    font-size: 3rem;
    color: #f3d2ae;
    font-family: 'Kanit', sans-serif ;
}

.logo {
    width: 5rem;
    aspect-ratio: 1/1;
}